@media all and (min-width: 480px) {
  .Login {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    min-width: 320px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
